<%= form_with(model: task, local: true) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  <div class="field">
    <%= form.label :deadline_on %>
    <%= form.date_field :deadline_on %>
  </div>
  <div class="field">
    <%= form.label :priority %>
    <%= form.select :priority, Task.priorities.keys.to_a.reverse, include_blank: true %>
  </div>
  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Task.statuses.keys.to_a, include_blank: true %>
  </div>
  <div class="actions">
    <%= form.submit id: action %>
  </div>
<% end %>