<%= form_with(model: task, local: true) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :deadline_on %>
    <%= f.date_field :deadline_on, max: "9999-12-31" %>
  </div>
  <div class="field">
    <%= f.label :priority %>
    <%= f.select :priority, Task.priorities.keys.map { |k| [k, k] }.reverse, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, Task.statuses.keys.map { |k| [k, k] }, include_blank: true %>
  </div>
  <div class="actions">
    <%= f.submit id: action %>
  </div>
<% end %>