<h1 class='my-4'><%= t('.title') %></h1>
<div class="d-flex justify-content-center">
  <div class="card border-light mb-3" style="max-width: 75%;">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h2><%= @task.title %></h2>
      <%= link_to t('common.edit'), edit_task_path, method: :get, id: "edit-task", class: 'btn btn-primary' %>
    </div>
    <div class="card-body">
      <div class="card-content">
        <p class="card-text"><%= @task.content %></p>
      </div>
      <hr>
      <div class="d-flex">
        <p class='mx-3'><%= t('activerecord.attributes.task.created_at') %>: <%= l @task.created_at %></p>
        <p class='mx-3'><%= t('activerecord.attributes.task.deadline_on') %>: <%= l @task.deadline_on %></p>
        <p class='mx-3'><%= t('activerecord.attributes.task.status') %>: <%= @task.status %></p>
        <p class='mx-3'><%= t('activerecord.attributes.task.priority') %>: <%= @task.priority %></p>
      </div>
      <div class="d-flex">
        <p class='mx-3'><%= t('activerecord.attributes.task.label') %>: </p>
        <% if @task.labels == [] %>
          <p><%= 'ラベルなし' %></p>
        <% end %>
        <% @task.labels.each do |label| %>
          <p class='mx-3'>
            <%= label.name %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
<%= link_to t('common.back'), tasks_path, method: :get, id: "back", class: 'btn btn-secondary' %>
</div>
