<h1><%= t('.title') %></h1>
<table>
  <thead>
    <th><%= t('.table.name') %></th>
    <th><%= t('.table.email') %></th>
    <th><%= t('.table.admin') %></th>
    <th><%= t('.table.tasks') %></th>
    <th colspan='3'></th>
  </thead>
  <tbody>
    <%= @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.admin %></td>
        <td><%= user.tasks.count %></td>
        <td><%= link_to t('common.show') %></td>
        <td><%= link_to t('common.edit') %></td>
        <td><%= link_to t('common.destroy') %></td>
      </tr>
    <% end %>
  </tbody>
</table>