<!DOCTYPE html>
<html>
  <head>
    <title>CdpWebManyoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav>
      <ul>
        <% if logged_in? %>
          <% if has_admin? %>
            <li><%= link_to t('admin.users.nav.index'), admin_users_path, method: :get, id: "users-index" %></li>
            <li><%= link_to t('admin.users.nav.new'), new_admin_user_path, method: :get, id: "add-user" %></li>
          <% end %>
          <li><%= link_to t('tasks.nav.index'), tasks_path, method: :get, id: "tasks-index" %></li>
          <li><%= link_to t('tasks.nav.create'), new_task_path, method: :get, id: "new-task" %></li>
          <li><%= link_to t('labels.nav.index'), labels_path, method: :get, id: "labels-index" %></li>
          <li><%= link_to t('labels.nav.create'), new_label_path, method: :get, id: "new-label" %></li>
          <li><%= link_to t('users.nav.show'), user_path(current_user.id), method: :get, id: "account-setting" %></li>
          <li><%= link_to t('sessions.nav.delete'), session_path(current_user.id), method: :delete, id: "sign-out" %></li>
        <% else %>
          <li><%= link_to t('users.nav.new'), new_user_path, id: "sign-up" %></li>
          <li><%= link_to t('sessions.nav.create'), new_session_path, id: "sign-in" %></li>
        <% end %>
      </ul>
    </nav>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, id: "notice", class: "#{key}") %>
    <% end %>
    <%= yield %>
  </body>
</html>
