<!DOCTYPE html>
<html>
  <head>
    <title>CdpWebManyoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a href="/" class="navbar-brand">Task app</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <% if logged_in? %>
              <% if has_admin? %>
                <li class="nav-item"><%= link_to t('admin.users.nav.index'), admin_users_path, method: :get, id: "users-index", class: 'nav-link' %></li>
                <li class="nav-item"><%= link_to t('admin.users.nav.new'), new_admin_user_path, method: :get, id: "add-user", class: 'nav-link' %></li>
              <% end %>
              <li class="nav-item"><%= link_to t('tasks.nav.index'), tasks_path, method: :get, id: "tasks-index", class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to t('tasks.nav.create'), new_task_path, method: :get, id: "new-task", class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to t('labels.nav.index'), labels_path, method: :get, id: "labels-index", class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to t('labels.nav.create'), new_label_path, method: :get, id: "new-label", class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to t('users.nav.show'), user_path(current_user.id), method: :get, id: "account-setting", class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to t('sessions.nav.delete'), session_path(current_user.id), method: :delete, id: "sign-out", class: 'nav-link' %></li>
            <% else %>
              <li class="nav-item"><%= link_to t('users.nav.new'), new_user_path, id: "sign-up", class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to t('sessions.nav.create'), new_session_path, id: "sign-in", class: 'nav-link' %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <% flash.each do |key, value| %>
      <% if key == "notice" %>
        <%= content_tag(:div, value, id: "notice", class: "alert alert-success #{key}", role: 'alert') %>
      <% elsif key == "danger" %>
        <%= content_tag(:div, value, id: "notice", class: "alert alert-danger #{key}", role: 'alert') %>
      <% end %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
